* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: #efefef !important;*/
  font-family: 'Hepta Slab', serif;
  background-image: url(../image/background-body.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Navber MENU */

.navmenu {
  width: 100%;
  z-index: 1;
}

.navmenu ul {
  list-style: none;
  background: #242424;
  overflow: hidden;
  color: #fff;
  text-align: center;
  margin: 0;
}

.navmenu.black ul {
  background: #242424;
}

.navmenu ul li {
  display: inline-block;
  padding: 10px;
  float: left;
}

.navmenu ul li:hover {
  cursor: pointer;
  transition: .5s;
  background: #dddd;
}

.navmenu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 20px;
  transition: .5s;
}

.navmenu ul li a:hover {
  color: red;
}

.icon {
  width: 100%;
  background: #242424;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  display: none;
  color: #fff;
}


@media(max-width: 580px) {

  nav {
    display: block;
  }

  nav ul {
    max-height: 0px;
    background: #242424;
    transition: .5s;
  }

  nav.black ul {
    background: #242424;
  }

  .showing {
    max-height: 20em;
    transition: .5s;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }

  .navmenu ul li a {
    padding: 22px 80px;
  }

  .icon {
    display: block;
  }

  .btn-count-page {
    margin-bottom: 20px;
  }
}

/**********************/

.text-logo {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Hepta Slab', serif;
  font-weight: bold;
  height: 220px;
  letter-spacing: .15em;
  text-shadow: 4px 4px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
  background-image: url(../image/background-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid #242424;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.text-logo h1 {
  margin-top: 50px;
}

@media screen and (max-width: 766px)
{
  .text-logo {
    height: 250px;
  }
  .text-logo h1 {
    margin-top: 10px;
  }
}


h1 a {
  color: #000;
}

h1 a:hover {
  text-decoration: none;
  color: orange;
}

.single-blog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  background: #fff; 
}

.single-blog .entry-title, .single-blog .text-content {
  display: block;
  max-height: 800px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-blog .entry-title {
  font-weight: bold;
  font-size: 20px;
}

/*.single-blog .entry-title:hover {
  white-space: pre-line;
  overflow: visible;
  transition: .4s width;
  width: 320px;
  /*transition: all 1s height;
  -webkit-transition: 1s height;
  -moz-transition: 1s height;
  height: auto;
}*/

.entry-title a {
  color: #3c7984;
  transition: .5s;
}

.entry-title a:hover {
  text-decoration: none;
  color: #f51414;
}

.single-blog a img {
  width: 100%;
}

.blog-meta {
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 30px;
  background-color: #fff;
}

.blog-meta .post-date i{
  color: #242424;
}

.single-blog .post-date {
  float: right;
  font-size: 12px;
  color: cornflowerblue;
}

.single-blog .plugin-facebook {
  float: right;
}

.read-more-btn {
  transition: all 1s background-image, 1s color;
  -webkit-transition: 1s background-image, 1s color;
  -moz-transition: 1s background-image, 1s color;
  background-image: linear-gradient(to right, #00a8c5, #ffff7e);
  padding: 5px 12px 8px;
  border-radius: 5px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #242424;
  border: none!important;
}

.read-more-btn:hover {
  text-decoration: none;
  transition: all 1s background-image, 1s color;
  -webkit-transition: 1s background-image, 1s color;
  -moz-transition: 1s background-image, 1s color;
  background-image: linear-gradient(to left, #00ffa1, #00ffff);
  color: red;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #242424;
  color: white;
  margin-top: 30px;
  font-family: 'Hepta Slab', serif;
  padding: 5px;
}

.footer-content {
  font-weight: bold;
  font-size: 20px;
}

.footer-content a {
  color: #fff;
  transition: .5s;
}

.footer-content a:hover {
  text-decoration: none;
  color: red;
}

.style-entrys {
  border: 1px solid #dddd;
  border-radius: 20px; 
}

@media screen and (max-width: 991px) and (min-width: 768px)
{
  .single-blog {
    height: auto;
  }
  .read-more-btn {
    display: inline-block;
  }
  .single-blog .post-date {
    float: none;
  }
  .single-blog .plugin-facebook {
    float: none;
  }
}

.page-pagination {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.btn-count-page {
  margin-top: 20px;
  background: transparent;
  font-size: 20px;
}

.btn-count-page li {
  margin: 5px;
}

.img-hover {
  transition: .4s;
}

.img-hover:hover {
  transform: scale(1.03);
  opacity: 0.8;
  border: 2px solid #242424;
}
