* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef !important;
  font-family: 'Hepta Slab', serif;
}

.navbar-menu {
  background: #242424;
}

.header-item {
  display: flex;
  margin-top: 15px;
}

.header-item li {
  list-style-type: none;
  font-size: 18px;
}

li a {
  color: #fff;
}

li a:hover {
  text-decoration: none;
  transition: all background 1s , color 1s;
  -webkit-transition: background 1s,  color 1s;
  -moz-transition: background 1s, color 1s;
  background: #dddd;
  color: red;
}

.text-logo {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Hepta Slab', serif;
  font-weight: bold;
  height: 220px;
  letter-spacing: .15em;
  text-shadow: 4px 4px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2);
  background-image: url(../image/background-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid #242424;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 90px;
}

.text-logo h1 {
  margin-top: 50px;
}

@media screen and (max-width: 766px)
{
  .text-logo h1 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 720px)
{
  .text-logo {
    height: 250px;
  }

  .text-logo h1 {
    margin-top: 10px;
  }
}


h1 a {
  color: #000;
}

h1 a:hover {
  text-decoration: none;
  color: orange;
}

.single-blog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  background: #fff; 
}

.single-blog .entry-title, .single-blog .text-content {
  display: block;
  max-height: 800px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-blog .entry-title {
    font-weight: bold;
    font-size: 20px;
}

.single-blog .entry-title:hover {
  white-space: pre-line;
  overflow: visible;
  width: 320px;
  /*transition: all 1s height;
  -webkit-transition: 1s height;
  -moz-transition: 1s height;
  height: auto;*/
}

.entry-title a:hover {
  text-decoration: none;
}

.single-blog img {
  width: 100%;
}

.blog-meta {
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 30px;
  background-color: #fff;
}

.blog-meta span i{
  color: #242424;
}

.single-blog span {
  float: right;
  font-size: 12px;
  color: cornflowerblue;
}

.read-more-btn {
  background-image: linear-gradient(to right, #00a8c5, #ffff7e);
  padding: 5px 12px 8px;
  border-radius: 5px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #242424;
  border: none!important;
}

.read-more-btn:hover {
  background-image: linear-gradient(to right, #00ffa1, #00ffff);
  text-decoration: none;
  color: #fff;
}

/*

.entry-title a {
  display: block;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-content {
  display: inline-block;
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 

*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #242424;
  color: white;
  margin-top: 30px;
  font-family: 'Hepta Slab', serif;
  padding: 5px;
}

.footer-content {
  font-weight: bold;
  font-size: 20px;
}

.footer p {
  line-height: 2;
}

p a:hover {
  text-decoration: none;
  color: red;
}

.style-entrys {
  border: 1px solid #dddd;
  border-radius: 20px; 
}
