---
layout: default
---
{% for post in paginator.posts %}
	<div class="col-md-4">
		<div class="single-blog">
			<p class="blog-meta">
				<i class="fas fa-book-reader"> Đăng bởi {{ post.author }}</i>
				<span class="post-date">
					<i class="fas fa-calendar-alt"> {{ post.date | date: "%d-%m-%Y" }}</i>
				</span>
			</p>

			<a href="{{ post.url }}">
				<img class="img-thumbnail img-hover" src="{{ site.baseurl }}/image/{{ post.thumbnail }}" style="height: 200px;">
			</a>

			<p class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></p>

			<p class="blog-text text-content">{{ post.excerpt }}</p>

			<p>
				<a href="{{ post.url }}" class="read-more-btn">Đọc thêm</a>

				<span class="plugin-facebook">
					<i id="fb-root"></i>
					<i class="fb-like" data-href="{{ site.url }}/{{post.url}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></i>
				</span>
			</p>		
		</div>
	</div>
{% endfor %}
{% include paginator.html %}