<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" id="Title-Blog" href="/">Công Nghệ Và Cuộc Sống</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fas fa-bars"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			   	<li class="nav-item active">
			    	<a class="nav-link" href="/"><i class="fas fa-home"> Trang chủ</i><span class="sr-only">(current)</span></a>
				</li>

		    	<li class="nav-item">
			   		<a class="nav-link" href="https://www.youtube.com/channel/UCkoqufarETamiMrwtVg8ugQ"><i class="fab fa-youtube"> Youtube</i></a>
			   	</li>

		    	<li class="nav-item dropdown">
		    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thể loại</a>

					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{site.baseurl}}/categories/windows.html"><i class="fab fa-windows"></i> Windows</a>
	        			<a class="dropdown-item" href="{{site.baseurl}}/categories/unixlinux.html"><i class="fab fa-linux"></i> Unix/Linux</a>
	        			<a class="dropdown-item" href="{{site.baseurl}}/categories/games.html"><i class="fas fa-gamepad"></i> Games</a>
	        			<a class="dropdown-item" href="{{site.baseurl}}/categories/graphics.html"><i class="fas fa-microchip"></i> Design/Graphics</a>

	        			<a class="dropdown-item" href="{{site.baseurl}}/categories/html.html"><i class="fab fa-html5"></i> HTML</a>
	        			<a class="dropdown-item" href="{{site.baseurl}}/categories/css.html"><i class="fab fa-css3-alt"></i> CSS</a>
	        			<a class="dropdown-item" href="{{site.baseurl}}/categories/javascript.html"><i class="fab fa-js"></i> JavaScript</a>
	        			<a class="dropdown-item" href="{{site.baseurl}}/categories/other.html"><i class="far fa-question-circle"></i> Góc tâm sự</a>
					</div>
				</li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0" action="{{site.baseurl}}/search.html" method="get">
		      <input class="form-control mr-sm-2" type="search" placeholder="Gõ vào để tìm kiếm...!" aria-label="Search" id="search-box" name="query">
		      <input class="btn btn-outline-success my-2 my-sm-0"  type="submit" value="Tìm kiếm">
		    </form>
		  </div>
	</nav>
