<header>
	<nav>
		<ul class="nav">
			<li><a href="/"><i class="fas fa-home"> Trang chủ</i></a></li>
			<li><a href="/"><i class="fas fa-list-alt"> Thể loại</i></a>
				<ul class="sub-menu">
					<li><a href="{{site.baseurl}}/categories/windows.html">Windows</a></li>
					<li><a href="{{site.baseurl}}/categories/unixlinux.html">Linux/Unix</a>
						<ul class="sub-menu">
							<li><a href="{{site.baseurl}}/categories/terminal.html">Terminal</a></li>
						</ul>
					</li>
					<li><a href="{{site.baseurl}}/categories/html.html">HTML</a></li>
					<li><a href="{{site.baseurl}}/categories/css.html">CSS</a></li>
					<li><a href="{{site.baseurl}}/categories/javascript.html">JavaScript</a></li>
				</ul>
			</li>
			<li><a href="https://www.youtube.com/channel/UCkoqufarETamiMrwtVg8ugQ/featured?view_as=subscriber"><i class="fab fa-youtube"> Youtube</i></a></li>
			<li><a href="#"><i class="fas fa-info-circle"> Thông tin</i></a></li>
		</ul>
	</nav>
</header>