@import url('https://fonts.googleapis.com/css?family=Asap:400,700');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext,latin');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  color: #11101d;
  line-height: 1.5;
  background-image: url("../images/background-body.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/** Header **/
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	background: #1d1b31;
}

.logo {
	display: block;
	float: left;
	font-size:20px;
}

.logo a{
	font-weight: 700;
	font-size: 1em;
	color: #fff;
  text-shadow: 0 0 0.1em #7c91be, 0 0 0.1em #4d9b99;
  transition: 0.3s linear;
}

.logo a span{
	color: #5bd485;
  text-shadow: 0 0 0.1em #7c91be, 0 0 0.1em #4d9b99;
  transition: 0.3s linear;
}

.logo a:hover {
  color: #5bd485;
}

.logo a:hover span, 
.logo a span:hover {
  color: #fff;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:5px;
	margin:0;
	list-style: none;
	position: relative;
}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display: block;
	float: left;
  background: #1d1b31;
}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { 
  background: #1d1b31;
}

/* Background color change on Hover */
nav ul a:hover { 
	background-color: #5bd485; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul li a {
  transition: 0.3s linear;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
/* li > a:after { content:  ' +'; }
a:only-child:after { content: ''; } */

/** ************************ Search ************************ **/
.search {
  position: fixed;
  float: right;
  right: 25px;
  bottom: 80px;
  z-index: 1;
  background: rgb(24, 24, 24)
}
.search input[type=search]:hover {
  background: rgb(24, 24, 24);
}
.search input[type=search]:focus {
  color: #fff;
  background: rgb(24, 24, 24);
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=search] {
	background: #1d1b31 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	width: 130px;
	background-color: #1d1b31;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.search input[type=search] {
  width: 10px;
  padding-left: 18px;
  color: transparent;
  cursor: pointer;
}
.search input[type=search]:hover {
	background-color: #1d1b31;
}
.search input[type=search]:focus {
	width: 210px;
	padding-left: 32px;
	color: #fff;
	background-color: #1d1b31;
	cursor: auto;
}

input::-webkit-input-placeholder { color: transparent; }
input:focus::-webkit-input-placeholder { color: #ddd; }

/* Firefox < 19 */
input:-moz-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: #ddd;  }

/* Firefox > 19 */
input::-moz-placeholder { color: transparent; }
input:focus::-moz-placeholder { color: #ddd; }

/* Internet Explorer 10 */
input:-ms-input-placeholder { color: transparent; }
input:focus:-ms-input-placeholder { color: #ddd; }
/*************************************/


.container {
  font-family: 'Be Vietnam', sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 15px;
}

/** Panigation **/
.post-pagination {
  display: grid;
  grid-gap: 0 60px;
  align-items: center;
}

.pagination {
  margin: 0 auto;
}

.pagination a {
  color: #ff5252;
  background: rgb(250, 210, 210);
  border-radius: 50%;
  width: 25px;
  height: auto;
  margin: 5px;
  float: left;
  font-weight: bold;
  filter: drop-shadow(0 0 5px #242424);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
/* thiết lập style cho class active */
.pagination a.active {
  background-color: #ff5252;
  color: #fff;
}
/* thêm màu nền khi người dùng hover vào class không active */
.pagination a:hover:not(.active) {
  background-color: #ff5252;
  color: #fff;
}

/****************** POST CONTENT ****************/
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: auto;  
}

.post__content {
  border-radius: 20px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 1030px;
  padding: 20px 40px;
  background: #fff;
}

.post__content .post__content--title {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.5);
  padding: .5rem;
  margin: 10px;
}

.post__content .post__content--title h1 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.post__content .post__content--info {
  padding-bottom: .25rem;
  padding-left: 1rem;
}

.post__content .post__content--info i {
  margin-left: 20px;
  margin-right: 20px;
}

.post__content .post__content--desc h1, 
.post__content .post__content--desc h2, 
.post__content .post__content--desc h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.post__content .post__content--desc img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: .25rem;
  max-width: 100%;
  width: 520px;
  height: auto;
  margin: 0 auto;
}

.post__content .post__content--desc li {
  margin-left: 20px;
}

.post__content .post__content--desc h1, 
.post__content .post__content--desc h2, 
.post__content .post__content--desc h3,
.post__content .post__content--desc img,
.post__content .post__content--desc p, 
.post__content .post__content--desc div.highlight {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* .fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;} */
/****************ZOOM MODAL IMAGE***********/
.post__content .post__content--desc img:hover {
  filter: contrast(180%);
}

#modal__caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal__content, #modal-caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

.image__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  margin: 0 auto;
}

.image__modal img {
  width: 1024px;
  height: 500px;
  left: 0;
  top: 0;
  object-fit: contain;
  margin: 0 auto;
}

/* .image__modal img:hover {
  image-rendering: pixelated;
} */

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.image__close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.image__close:hover,
.image__close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/***************** LIST POST ***************/
.post-item,
.post-feature {
  border-radius: 15px;
  box-shadow: rgba(24, 24, 24, 0.5) 0px 4px 12px;
  padding: 8px;
  margin-bottom: 20px;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
}

.post-item {
  width: 304px;
  height: auto;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 40px;
  z-index: 2;
}

.post-feature {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 0 60px;
  align-items: center;
  margin-bottom: 40px;
}

.post-feature-media {
  margin-bottom: 0;
  width: 100%;
  height: 290px;
}

.post-feature-image {
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
  height: 300px;
  transition: 0.1s linear;
  background: #1d1b31;
}

.post-feature-image:hover {
  box-shadow: rgba(24, 24, 24, 0.5) 0px 4px 12px;
}

.post-feature-title {
  font-size: 35px;
  font-weight: bold;
}

.post-media {
  display: block;
  margin-bottom: 10px;
}

.post-image {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  object-fit: contain;
  transition: 0.3s linear;
  background: #1d1b31;
}

.post-image:hover {
  image-rendering: pixelated;
  /* box-shadow: rgba(24, 24, 24, 0.5) 0px 4px 12px; */
  filter: drop-shadow(0 0 5px #242424);
}

.post-category {
  display: inline-block;
  padding: 5px 10px;
  color: #0088a9;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.post-category:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.15;
}

.post-likeShare {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.post-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  color: #0088a9;
  text-transform: capitalize;
  transition: 0.3s linear;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
}

.post-title:hover {
  color: #ff5252;
}

.post-desc {
  font-weight: 300;
  font-size: 14px;
  color: #1d1b31;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
}

.post-author {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin: 10px 0 10px 0;
}

.post-hashtags {
  background-color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  padding: 5px;
  font-size: 12px;		
}

.post-hashtags-item {
  display: inline-block;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0,0,0,.2);
  background: #ff5252;
  cursor: pointer;
}

.post-author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}

.post-author-name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.3s linear;
}

.post-author-name:hover {
  color: #ff5252;
}

.post-author-time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.post__detail {
  padding: 0.5rem;
  box-shadow: rgba(24, 24, 24, 0.5) 0px 4px 12px;
  border-radius: 10px;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
}

.post__detail-image img,
.post__detail-title {
  border-radius: 10px;
}

.post__detail-image {
  padding: 0.2rem;
  width: 100%;
}

.post__detail-title {
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.post__detail-title h3 {
  text-align: center;
  font-size: 2rem;
}

.post__detail-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.post__detail-info-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post__detail-content {
  padding: 0 0.5rem;
  margin: 20px 0 10px 0;
}

.post__detail-content strong > code {
  color: purple;
}

.content__algin-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.signup {
  width: 100%;
  max-width: 30rem;
  border-radius: 10px;
  box-shadow: rgba(24, 24, 24, 0.5) 0px 4px 12px;
}

.signup__heading {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.signup__already {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.signup__link {
  color: #0069d9;
  font-size: inherit;
}

.signup__link--underline {
  text-decoration: underline;
}

.signup__form {
  width: 100%;
  padding: 1.5rem 1.5rem;
}

.signup__form-group {
  margin-bottom: 1.5rem;
}

.signup__form-error {
  border-radius: 10px;
  text-align: center;
  width: 100%;
  color: rgba(255, 31, 31, 0.863);
  background: rgba(255, 31, 31, 0.2);
}

.signup__form-input {
  font-family: 'Poppins', sans-serif;
  color: #11101d;
  padding: 0.8rem;
  width: 100%;
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s linear;
  border: 1px solid #1d1b31;
  box-shadow: rgba(24, 24, 24, 0.5) 0px 4px 12px;
}

.signup__form-input:focus {
  border-color: #2ecc71;
}

.signup__form-submit {
  border-radius: 10px;
  color: #ffff;
  padding: 0.5rem;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  border: none;
  width: 100%;
  background: #0069d9;
  box-shadow: rgba(24, 24, 24, 0.5) 0px 4px 12px;
}

/* ************************ Create POST ************************ */
.newPost {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

.newPost h3 {
  text-align: center;
  font-size: 30px;
  color: #2e3641;
}

.newPost input[type='text'] {
  padding-left: 15px;
  width: 100%;
  height: 45px;
  border: 1px solid #c1cfd9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0px 0px 3px #c1cfd9;
  outline: none;
  font-size: 24px;
  color: #c1cfd9;
  margin-bottom: 10px;
}

.newPost .select__file {
  display: flex;
  margin: 0px 0 10px 0;
  position: relative;
  overflow: hidden;
  border: 1px solid #c1cfd9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0px 0px 3px #c1cfd9;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: 0.1s linear;
}

.newPost .select__file:hover {
  background: #2e3641;
  color: #ffff;
}

.newPost .toolbar {
  background: #2e3641;
}

.newPost .toolbar button {
  float: left;
  width: 45px;
  height: 45px;
  background: #2e3641;
  border: none;
  border-right: 1px solid #434f5f;
  color: #c1cfd9;
  outline: none;
}

.newPost .toolbar button:hover {
  background: #394250;
  color: #b1c3cf;
}

.newPost .toolbar .customSelect {
  float: right;
  position: relative;
}

.newPost .toolbar .customSelect select {
  appearance: none;
  border-radius: 0;
  border: none;
  background: #2e3641;
  height: 45px;
  padding-left: 10px;
  padding-right: 25px;
  color: #c1cfd9;
  border-left: 1px solid #434f5f;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.newPost .toolbar .customSelect select:hover {
  background: #394250;
  color: #b1c3cf;
}

.newPost .toolbar .customSelect:after {
  content: '\f0dc';
  font-family: 'Font Awesome 5 Free';
  color: #c1cfd9;
  position: absolute;
  right: 10px;
  top: 15px;
}

.newPost .toolbar:after {
  content: '';
  display: block;
  clear: both;
}

.newPost .editor {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 300px;
  width: 100%;
  resize: none;
  border: 1px solid #c1cfd9;
  box-shadow: inset 0px 0px 3px #c1cfd9;
  outline: none;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}

.newPost .editor textarea {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
  height: 40vh;
}

.newPost .editor .saved {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: #c1cfd9;
  font-weight: bold;
  border-top-left-radius: 15px;
}

.newPost .buttons {
  float: right;
}

.newPost .buttons button {
  float: left;
  width: 120px;
  height: 45px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  margin-right: 20px;
  font-weight: bold;
  background: #c1cfd9;
  text-decoration: none;
}

.newPost .buttons button:last-of-type {
  margin-right: 0px;
  background: #f97e76;
}

.newPost .buttons button:last-of-type:hover {
  background: #fa958e;
}

.newPost .buttons button:active {
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.05);
}

.newPost .buttons button:hover {
  background: #d1dbe3;
}

.newPost .buttons:after {
  content: '';
  display: block;
  clear: both;
}

.newPost:after {
  content: '';
  display: block;
  clear: both;
}

/* Not Found */
/* svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
} */

.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #ffff;
  font-family: Roboto;
  font-weight: 300;
}

.message-box h1 {
  color: #2e3641;
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}

.message-box p {
  color: #2e3641;
  font-size: 18px;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}

.buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.buttons-con .action-link-wrap a:hover {
  background: #5a5c6c;
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
  animation-delay: 0.2s;
}

#Polygon-3 {
  animation-delay: 0.4s;
}

#Polygon-4 {
  animation-delay: 0.6s;
}

#Polygon-5 {
  animation-delay: 0.8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}

.footer {
  background: #1d1b31;
  color: #fff;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.footer a {
  color: #0088a9;
  transition: 0.3s linear;
}

.footer a:hover {
  color: #ff5252;
}

/** Reponsive **/
@media screen and (max-width: 1023px) {
  .post-list {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .post-media {
    position: relative;
    padding-top: 65.25%;
    height: 0;
  }
  .post-image {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    background: #242424;
  }
  .post-feature {
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
  .post-feature-image {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    background: #242424;
  }

  .image__modal {
    height: 100%;
  }

  .image__modal img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width : 768px) {

  .post__content {
    padding: 10px 10px;
  }

	.logo {
    display: inline-block;
		padding: 0;
		width: 100%;
		text-align: center;
    font-size: 1.8em;
		float: none;
	}

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background: #1d1b31;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
	}
  
	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background: #1d1b31;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background: #1d1b31;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 
	}

  .container {
    padding-top: 10%;
  }

  .container .post-item {
    width: 100%;
    height: auto;
  }
  
  .container .post__detail-title {
    font-size: 16px;
    padding: 1.5rem;
  }
  .container .post__detail-info {
    font-size: 1rem;
    flex-wrap: wrap;
  }
  .container .post__detail h3 {
    font-size: 1rem;
  }
  .content__algin-center {
    height: 100vh;
  }
  .signup {
    box-shadow: none;
  }
  .signup__heading {
    font-size: 2.5rem;
  }

  page[size="A4"][layout="landscape"] {
    width: 100%;
    height: auto;
  }

}

/* 100% Image Width on Smaller Screens */
@media screen and (max-width: 700px){
  .modal__content {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}