* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.Title-Blog {
  color: #fff;
  transition: .5s;
}

.Title-Blog:hover {
  color: #e9473f;
}

body {
  background-image: url(../image/background-body.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Navber MENU */
.logo-style {
  color: #fff;
}
.logo-style:hover {
  color: #ddd;
}

nav.navbar {
  background: #242424;
  font-weight: bold;
}

button.navbar-toggler span {
  color: #fff;
}

.navbar-nav li a.nav-link {
  color: #fff;
  transition: .5s;
}

.navbar-nav li a.nav-link:hover {
  background: #fff;
  color: #e9473f;
}

div.dropdown-menu {
  background: #242424;
  transition: .4s;
}

a.dropdown-item {
  color: #fff;
}

a.dropdown-item:hover {
  color: red;
}

/**********************/

.text-logo {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  height: 220px;
  letter-spacing: .15em;
  background-image: url(../image/background-logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  border: 1px solid #242424;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.text-logo h1 {
  margin-top: 50px;
}

h1 a {
  color: #000;
}

h1 a:hover {
  text-decoration: none;
  color: orange;
}

.single-blog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  background: #fff; 
}

.single-blog .entry-title, .single-blog .text-content {
  display: block;
  max-height: 800px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-blog .entry-title {
  font-weight: bold;
  font-size: 20px;
}

.entry-title {
  color: #3c7984;
  transition: .5s;

}

.entry-title:hover {
  text-decoration: none;
  color: #f51414;
}

.content-SubString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 520px;
}

.single-blog a img {
  width: 100%;
}

.top-left {
  float: left;
}
.top-right {
  float: right;
}


.single-blog .plugin-facebook {
  float: right;
}

.read-more-btn {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  padding: 4px 12px 6px;
  border-radius: 5px;
  line-height: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: none!important;
}

.read-more-btn:hover {
  text-decoration: none;
  background-image: linear-gradient(to right, #77A1D3 100%, #79CBCA 51%, #77A1D3 0%);
  color: rgb(255, 57, 57);
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #242424;
  color: white;
  margin-top: 30px;
  padding: 5px;
}

.footer-content {
  font-weight: bold;
  font-size: 20px;
}

.footer-content a {
  color: #fff;
  transition: .5s;
}

.footer-content a:hover {
  text-decoration: none;
  color: red;
}

#fontStyle {
  font-family:"Montserrat","Helvetica Neue",Arial,sans-serif !important;
}

ul .page-item .page-link {
  color: rgb(207, 45, 45);
  background: #dddd;
  font-weight: bold;
  font-style: normal;
  transition: .5s;
}

ul .page-item .afterSelect {
  background-image: linear-gradient(to right, #D66D75 0%, #E29587 51%, #D66D75 100%);
}

ul .page-item .page-link:hover{
  background-image: linear-gradient(to right, #D66D75 0%, #E29587 51%, #D66D75 100%);
  color: #000;
}

.img-hover {
  transition: .4s;
}

.img-hover:hover {
  transform: scale(1.03);
  opacity: 0.8;
  border: 2px solid #242424;
}


/* TAGS POST */
.tags-filter {
  color: #ddd;
  background-color: #242424;
  margin: 10px;
}

/***********/

.single-search {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  background: #fff;
}

@media screen and (max-width: 575px) {
  #btn-search {
    width: 100%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px)
{
  .single-blog {
    height: auto;
  }
  .read-more-btn {
    display: inline-block;
  }
  .single-blog .post-date {
    float: none;
  }
  .single-blog .plugin-facebook {
    float: none;
  }
}

@media screen and (max-width: 766px)
{
  .text-logo {
    height: 250px;
  }
  .text-logo h1 {
    margin-top: 10px;
  }
}