---
layout: page
---
{% for post in site.categories[page.category] %}
	<div class="post-item">
		<a href="#" class="post-author">
			<img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-6/237121164_1805104452995639_2165864989993464529_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=g-zenlR2EIIAX8BPtrS&tn=Pqtgy3KFd411Ehi9&_nc_ht=scontent.fdad3-1.fna&oh=84c221abcda088065270835559c577de&oe=61612208" alt="Panadora" class="post-author-image">
			<div class="post-author-info">
				<h4 class="post-author-name">Tác giả: {{post.author}}</h4>
				<time class="post-author-time" id="datetime">Ngày đăng: {{post.date|date: "%d-%m-%Y"}}</time>
			</div>
		</a>
		<a href="{{post.url}}" class="post-media">
			<img src="{{site.baseurl}}/assets/images/{{post.thumbnail}}" alt="{{post.title}}" class="post-image">
		</a>
		<!-- <div href="#" class="post-category"><button>{{post.category}}</button></div -->
		<div class="post-likeShare">
			<a class="fb-like" data-href="{{site.url}}/{{post.url}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></a>
		</div>
		<h3>
			<a class="post-title" href="{{post.url}}" title="{{post.title}}">{{post.title}}</a>
		</h3>
		<div class="post-desc">{{post.excerpt}}</div>
	</div>
{% endfor %}
