<!DOCTYPE html>
<html lang="en">
<head>

	{%- include head.html -%}

</head>
<body>

	{%- include header.html -%}
	
	<!-- button to top page -->
	<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
	<script>
		addBackToTop({
			iameter: 56,
			backgroundColor: 'rgb(24, 24, 24)',
			textColor: '#fff'
		})
	</script>
	<!-- ------------------ -->

	<section class="container">
		<div class="text-logo">
			<h1 class="text-center"><a href="/">{{ site.site_name }}</a></h1>
			<p class="text-center">Nơi tổng hợp những thông tin về công nghệ, thông tin <br> gắn liền với cuộc sống của bạn !</p>
		</div>

		<div class="row">
			{{ content }}
		</div>
	</section>

	{%- include footer.html -%}

</body>
</html>
