<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	{%- include header.html -%}
	
	<!-- Script Add-ons Facebook -->
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=2448622068784376&autoLogAppEvents=1" nonce="S78sJM3q"></script>
	
	<div class="container">
		<div class="post-list">
			{{ content }}
		</div>
	</div>

	<div class="container">
		<div class="post-pagination">
			{% include paginator.html %}
		</div>
	</div>

	{%- include footer.html -%}
	{%- include btn-move-top.html -%}
</body>
</html>