---
layout: default
---
<div class="container post bg-light container-border-radius py-3 px-4 my-lg-4 my-3 post-content">
    <article>
        <div class="row">
            <div class="d-block mx-auto"></div>
        </div>
        	
        <div class="text-center shadow-sm container-border-radius p-3 style-entrys">
            <h1>{{ page.title }}</h1>

            <div class="pb-1 pl-3">
                <i class="fas fa-user font-weight-light mr-1">
                    <a href="#"><span>{{ page.author }}</span></a>
				</i>

                <i class="fas fa-clock font-weight-light mr-1">
                    <a href="#"><span>{{ page.date | date_to_string }}</span></a>
                </i>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
            	{{ content }}

            	<div id="fb-root"></div>
				<div class="fb-like" data-href="{{ site.baseurl }}/{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
				<div class="fb-comments" data-href="{{ site.baseurl }}{{ page.url }}" data-width="720" data-numposts="5" data-order-by="reverse_time"></div>
        	</div>

            <div style="border-color: rgba(0,0,0,.1)" class="col-lg-4 col-md-4 category-post border-left">
                <div class="border-dark border-top">
                	<h5 class="bg-dark text-white p-2">Mục lục</h5>
            	</div>

                <div class="border-dark border-top">
                    <h5 class="bg-dark text-white p-2">
                        Bài viết liên quan
                    </h5>
                    {% for categorie in site.tag %}
                    <ul>
                        <li class="">
                            <a href="/{{ categorie }}"> {{ categorie }}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
</div>