---
layout: default
---
<page size="A4" layout="landscape" class="post__content">
    <div class="post__content--title">
        <h1>{{ page.title }}</h1>

        <div class="post__content--info">
            <i class="fas fa-user font-weight-light mr-1">
                <a href="#"><span>{{ page.author }}</span></a>
            </i>

            <i class="fas fa-clock font-weight-light mr-1">
                <a href="#"><span>{{ page.date | date: "%d-%m-%Y" }}</span></a>
            </i>
        </div>
    </div>
    <hr/>
    <div class="post__content--desc">
        {{ content }}
               
        <div class="fb-like" data-href="{{site.url}}/{{page.url}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
        <div class="fb-comments" data-href="{{site.url}}/{{page.url}}" data-width="100%" data-numposts="5"></div>
    </div>
</page>

<div id="image__myModal" class="image__modal">
    <span class="image__close">&times;</span>
    <img class="modal__content" id="img01">
    <div id="modal__caption"></div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('image__myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("modal__caption");


    // var img = document.getElementsByTagName("img")[0];
    // console.log(img)
    // Đếm có bảo thẻ image, add Element ID theo số lượng
    $(".post__content--desc img").map((index, item) => {
        // xử lý sự kiện click chuột
        item.onclick = function(e) {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
    });

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("image__close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }
</script>