---
layout: default
---
<div class="container post bg-light container-border-radius py-3 px-4 my-lg-4 my-3 post-content" style="border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);">
    <article>
        <div class="row">
            <div class="d-block mx-auto"></div>
        </div>
        	
        <div class="text-center shadow-sm container-border-radius p-2 style-entrys">
            <h1>{{ page.title }}</h1>

            <div class="pb-1 pl-3">+
                <i class="fas fa-user font-weight-light mr-1">
                    <a href="#"><span>{{ page.author }}</span></a>
				</i>

                <i class="fas fa-clock font-weight-light mr-1">
                    <a href="#"><span>{{ page.date | date: "%d-%m-%Y" }}</span></a>
                </i>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-9 col-sm-12">
            	{{ content }}

            	<div id="fb-root"></div>
				<div class="fb-like" data-href="{{ site.url }}/{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
				<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="820" data-numposts="5" data-order-by="reverse_time"></div>
        	</div>

        </div>
    </article>
</div>
